
/* 
 * audio.js css
 */
.song.playing:after { content: '♬'; width: 14px; height: 14px; padding-top: 10px; line-height: 14px; margin: 0px; position: absolute; left: -10px; color: #000; font-size: 13px; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); }

#album-art-container img { display: block; margin: auto; }
